@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-margin:4.5rem;
}

@layer base {
  * {
      font-family: "Inter";
    }
  
    h1 {
      @apply text-3xl;
    }
  
    h2 {
      @apply text-2xl;
    }
    
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg
    }
    h5 {
      @apply text-base;
    }
    h6 {
      @apply text-sm;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-bold my-3;
    }
  
    p {
      @apply my-3;
    }
    ul {
      @apply list-disc;
    }
  
    body {
      margin-top: var(--nav-margin);
      background:hsl(0, 0%, 95%);
      min-height: calc(100vh - var(--nav-margin));
    }
    form :is(input[type="text"], input[type="password"], textarea) {
      @apply w-full border-neutral-200 border-2 px-3 py-2 rounded-md focus:outline-none focus:border-neutral-500;
    }
    a {
      @apply decoration-current text-neutral-500 hover:text-black underline cursor-pointer;
    }
}